@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* HEADER */
.navbar{
    background-color: #343A40;
}
.navbar-nav{
    margin-right:30px;
}
#verde{
    color: #1cce4b;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../imagenes/ba1.jpg);
    background-position: center;
    background-size: cover;
    height: 770px;
}
/* CArds */
.card{
    max-width: 18rem;
}
.card-text{
    text-align: justify;
} 